body{width:100%; height:91px; margin:0;background:url(../images/topBg.jpg) repeat-x; overflow:hidden; text-align:center}
.top1{margin:53px 0 0 300px; float:left;}
.top1 a{float:left; background:url(../images/topTagBg.png) no-repeat; text-decoration:none; overflow:hidden;display:block;  width:83px; height:38px; line-height:44px; font-size:14px; color:#333333}
.top1 .aSelect{float:left; background:url(../images/topTagBg1.png) no-repeat; text-decoration:none; overflow:hidden;display:block;  width:83px; height:38px; line-height:44px; font-size:14px; color:#FFFFFF}
.topLogo{margin:16px 0 0 25px; float:left}
.topLoginOut{float:right; margin:20px 10px 0 0; cursor:pointer}